body {
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
}

.party-size {
  color: #99999c;
}

.seat-button {
  float: right;
}

.checkout-button {
  float: right;
}

li.list-group-item {}

.lists {
  margin-top: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

form {
  margin-bottom: 30px;
}